header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .header {
        transition: 0.2s;
        background-color: $dun;
        color: $black;

        &.transparent {}

        &.black {
            color: $white;
            background-color: $black;

            nav {
                justify-content: space-between;
            }
        }
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $pad;
        gap: $gap2;

        img {}

        ul {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            gap: $gap2;

            li {
                font-size: $small;

                a {}
            }
        }
    }
}