.cinema-wrapper {
    .cinema {
        margin: $margin 0;
        display: flex;
        flex-direction: column;
        gap: $gap-large;

        @include for-mobile-layout {
            margin: 0;
            padding-top: 50px;

            .project {
                &:not(:first-of-type) {

                    border-top: 4px solid $brown2;
                }

                .text {
                    order: 1;
                }

                .videos {
                    order: 2;
                }
            }

            .project:last-of-type {
                padding-bottom: 40px;
            }

            .swiper-pagination {
                bottom: -5px;
            }
        }

    }

    .plyr {}

    iframe {
        border-radius: $br;
        height: 92%;
        animation: load 1s 10 linear;
        transition: 0.2s;
        user-select: none;
    }

    .project {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $pad;
        gap: $gap-large;

        @include for-mobile-layout {
            padding: 0;
            flex-direction: column;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: $gap-large;
            justify-content: space-between;

            h3 {
                font-size: $small2;
                color: $brown2;
            }

            .credits {
                font-size: $small2;
                color: $brown;
            }
        }

        .videos {
            width: 100%;
        }
    }



    .swiper {
        max-width: 1000px;

        @include for-mobile-layout {
            max-width: calc(100vw - $pad-xl);
        }
    }
}

.carousel-wrapper {
    background-color: $black-trans;

    .carousel {
        padding-bottom: $margin;
    }

    .project {
        width: 100%;
        padding: $pad-xl $pad-xl 0 $pad-xl;

        .text {
            width: 30%;
        }

        @include for-mobile-layout {
            padding: $pad-large $pad-large 0 $pad-large;
            gap: $gap;

            .videos {
                padding-bottom: 20px;
            }

            .text {
                width: 100%;
            }
        }
    }

    .swiper {
        max-width: 100%;

        .swiper-button-prev,
        .swiper-button-next {
            color: $brown2;
            font-weight: 700;

            @include for-mobile-layout {
                width: 0px;

                &::after {
                    font-size: 24px;
                }
            }
        }

        @include for-mobile-layout {
            .swiper-pagination {
                bottom: 0px;
            }
        }

    }


    .plyr__video-embed iframe {
        position: relative;
        width: 100%;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.original-scores-wrapper {
    background-color: $black-trans;
}

.original-scores,
.commercials {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $margin 0;
    gap: $gap2;

    @include for-mobile-layout {
        max-width: calc(100vw - 40px);

        .swiper-wrapper {
            align-items: center;
        }

        .original-score,
        .commercials {
            padding-bottom: 20px;
        }

        .swiper-pagination {
            bottom: -5px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            &::after {
                font-size: 30px;
            }
        }

        .swiper-button-prev {
            left: 3px;
        }

        .swiper-button-next {
            right: 3px;
        }
    }

    .swiper {
        width: 100%;
        max-width: 1000px;

        .swiper-button-prev,
        .swiper-button-next {
            color: $brown2;
            font-weight: 700;
        }
    }

}

@keyframes load {
    0% {
        background-color: rgba(128, 128, 128, 0.411);
    }

    50% {
        background-color: rgba(51, 51, 51, 0.521);
    }

    100% {
        background-color: rgba(128, 128, 128, 0.411);
    }
}