.home-about {
    .home-section {
        .text {
            h3 {
                align-self: flex-end;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            // max-width: 500px;
            max-height: 500px;
            aspect-ratio: 1/2;
            user-select: none;
        }
    }
}