    .hero {
        display: flex;
        flex-direction: column;
        height: 100vh;

        video {
            width: 100%;
            height: calc(100% - 72px);
            position: absolute;
            object-fit: cover;
            margin-top: 72px;
        }

        .hero-content {
            position: relative;
            display: flex;
            // border: 6px $dun solid;
            mix-blend-mode: normal;
            justify-content: space-between;
            height: 100%;
            align-items: flex-end;

            h2,
            h1 {
                background-color: $dun;
                color: $black;
                padding: $pad;
                width: fit-content;
                height: fit-content;
            }

            h2 {
                font-size: $h2 - 10;
            }
        }
    }